/* reset */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Roboto:wght@100&display=swap");

* {
  font-size: 20px;
  font-family: "Questrial", sans-serif;

}
/* Etiquetas */

h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: 1%;
  background-color: rgba(100, 99, 99, 0.466);
}

/* Clases */

.social {
  width: 64px;
}

.perfil {
  width: 400px;
  border-radius: 5%;
  display: block;
  margin: 0 50% 0 50%;
}

#button {
  position: relative;
  left: 90%;
  border: 5px solid pink;
  background-color: papayawhip;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 70px;
}

.item p {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1%;
  margin-top: 3%;
}

.nombre {
  font-size: 3rem;
  font-weight: 200;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 30px;
  text-align: center;
}

.titulo {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
  margin-top: -50px;
}

.containerMain {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto;
}

.containerMain section p {
  margin-bottom: 10%;
}

.explab {
  margin-left: 10px;
}

.description {
  line-height: 40px;
}

.social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  border-top: 7px grey solid;
}
/* Media queries */

@media only screen and (max-width: 1620px) {
  .container,
  .containerMain {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .perfil {
    margin: 0;
    width: 300px;
  }
}
